.account {
    color: black;
    margin: 20px;
    font-size: 22px;
}

.account div {
    margin: 20px;
}

.buttons {
    color: black;
    background-color: rgba(255, 254, 253, 0.05);
    font-size: 22px;
    width: 250px;
    height: 25px;
    display: block;
}

#passForm {
    display: none;
    border: 1px black solid;
    width: 300px;
    height: 300px;
    margin: 0px;
    padding: 0px;
    color: black;
}

.warning {
    color: red;
}


