h1 {
    color: #fff;
    text-align: center;
}
#left-content {
    border-radius: 7px;
    -moz-box-shadow:0 0 10px #ffffff;
    -webkit-box-shadow:0 0 10px #ffffff;
    box-shadow:0 0 10px #ffffff;

    float: left;
    width: 48%;
    background-color: rgba(35, 35, 35, 0.6);
}
#left-content textarea {
    width: 90%;
}
#left-content legend {
    color: #fff;
}