#checkOk {
    font-size: 40px;
    color: green;
    display: none;
    background-color: rgba(0, 0, 0, 0.71);
    border-radius: 5px;
    -moz-box-shadow:0 0 10px #ffffff;
    -webkit-box-shadow:0 0 10px #ffffff;
    box-shadow:0 0 10px #ffffff;
}

#checkNo {
    font-size: 40px;
    color: red;
    display: none;
    background-color: rgba(0, 0, 0, 0.71);
    border-radius: 5px;
    -moz-box-shadow:0 0 10px #ffffff;
    -webkit-box-shadow:0 0 10px #ffffff;
    box-shadow:0 0 10px #ffffff;
}

#syntaxError {
    font-size: 25px;
    color: red;
    display : none;
}

.passedCheck {
    font-size: 30px !important;
    color: green !important;
}

.noPassedCheck {
    font-size: 30px !important;
    color: red !important;
}

.checkmark {
    font-size: 30px !important;
    display: none;
}