#checkOk {
    font-size: 70px;
    color: green;
    display: none;
}

#checkNo {
    font-size: 70px;
    color: red;
    display: none;
}

#syntaxError {
    font-size: 25px;
    color: red;
    display : none;
}

.passedCheck {
    font-size: 30px !important;
    color: green !important;
}

.noPassedCheck {
    font-size: 30px !important;
    color: red !important;
}

.checkmark {
    font-size: 30px !important;
    display: none;
}